// button:is(:focus, :focus-visible, :focus-within),
// input:is(:focus, :focus-visible, :focus-within) {
//   outline: 2px solid rgb(248, 181, 181);
// }

.app {
  display: flex;

  &__main {
    @include flex-col();
    flex: 1;
    height: 100vh;
  }
}

.kanban__logo {
  img {
    width: max-content;
  }
}

.custom__button {
  border-radius: 5rem;
  @include typography(1.3rem, 700, 1.5);
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: 300ms;

  &:hover {
    opacity: 0.75;
  }

  &.primary {
    background-color: var(--accent-color);
    padding: 1rem 2rem;
    color: #fff;
  }

  &.white {
    background-color: #fff;
    padding: 1rem 2rem;
    color: var(--accent-color);
    font-weight: 800;
    margin-bottom: 20px;
  }

  &.danger {
    background-color: rgb(250, 65, 65);
    padding: 1rem 2rem;
    color: #fff;
  }

  &.simple {
    background-color: rgb(83, 80, 80);
    padding: 1rem 2rem;
    color: #fff;
  }

  &.full-width {
    width: 100%;
  }
}

// action buttons
.action__buttons {
  position: absolute;
  background-color: var(--header-bg-color);
  width: 150px;
  top: 45px;
  left: -120px;
  border-radius: 0.75rem;
  border: 1px solid var(--border-color);
  overflow: hidden;
  display: none;
  z-index: 10;

  &.showAction {
    display: block;
  }

  li button {
    font: inherit;
    padding-block: 1rem;
    text-align: left;
    width: 100%;
    padding-inline: 20px;
    font-size: 1.2rem;
    color: var(--nav-color);

    &:hover {
      background-color: var(--body-bg-color);
    }
  }

  li button.delete {
    color: rgb(241, 42, 42);
  }
}

// modal
.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #10111f94;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 300ms;

  label {
    color: var(--nav-color);
    @include typography(1.4rem, 600, 1.5);
    margin-bottom: 0.25rem;
    letter-spacing: 1px;
  }

  &.showModal {
    opacity: 1;
    visibility: visible;
    pointer-events: all;

    .modal__content {
      transform: scale(1);
    }
  }

  .modal__content {
    max-width: 500px;
    width: 100%;
    padding: 1.5rem;
    border: 2px solid var(--border-color);
    background-color: var(--header-bg-color);
    position: absolute;
    top: 100px;
    transition: 300ms;
    transform: scale(0.9);
    border-radius: 1.5rem;
  }
}

// form input
.input__wrapper {
  width: 100%;

  & > div {
    position: relative;

    span {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      @include typography(1.2rem, 400, 1.5);
      color: rgb(241, 190, 190);
    }
  }

  .form__input {
    border: 1px solid var(--nav-color);
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    font: inherit;

    &:is(:focus) {
      border-color: var(--accent-color);
    }

    &::placeholder {
      color: var(--nav-color);
      font-size: 1.2rem;
      font-weight: 400;
      opacity: 0.6;
    }
  }
}

.Empty__task {
  @include flex-col();
  gap: 2rem;
  p {
    @include typography(1.4rem, 500, 1.5);
    text-align: center;
    border-radius: 0.75rem;
    padding-block: 1rem;
  }
}

.textArea {
  margin-top: 1rem;
  textarea {
    height: 80px;
    background-color: transparent;
    width: 100%;
    resize: none;
    border: 1px solid var(--nav-color);
    transition: 0.3s;
    outline: none;
    border-radius: 0.75rem;
    padding-block: 0.75rem;
    padding-inline: 1rem;
    color: var(--body-text-color);
    font: inherit;

    &::placeholder {
      color: var(--nav-color);
      font-size: 1.2rem;
      font-weight: 400;
      opacity: 0.6;
    }

    &:focus {
      border-color: var(--accent-color);
    }
  }
}
